build/VideoProcessor/Analysis-00.toc
build/VideoProcessor/base_library.zip
build/VideoProcessor/BUNDLE-00.toc
build/VideoProcessor/EXE-00.toc
build/VideoProcessor/PKG-00.toc
build/VideoProcessor/PYZ-00.pyz
build/VideoProcessor/PYZ-00.toc
build/VideoProcessor/VideoProcessor.pkg
build/VideoProcessor/warn-VideoProcessor.txt
build/VideoProcessor/xref-VideoProcessor.html
build/VideoProcessor/localpycs/pyimod01_archive.pyc
build/VideoProcessor/localpycs/pyimod02_importers.pyc
build/VideoProcessor/localpycs/pyimod03_ctypes.pyc
build/VideoProcessor/localpycs/struct.pyc
dist/.DS_Store
dist/VideoProcessor
dist/VideoProcessor.app/Contents/Info.plist
dist/VideoProcessor.app/Contents/MacOS/VideoProcessor
dist/VideoProcessor.app/Contents/Resources/icon-windowed.icns
dist/VideoProcessor.app/Contents/_CodeSignature/CodeResources
.DS_Store
**.png
VideoProcessor.spec
app_state.txt
